In [1]:

#Description: This program predicts the price of Bitcoin for the next 30 days

#Data Source: https://www.blockchain.com/charts/market-price?
# https://towardsdatascience.com/bitcoin-price-prediction-using-lstm-9eb0938c22bd

In [81]:
import numpy as np 
import pandas as pd

In [63]:
# Load the data set from the csv file using pandas
data = pd.read_csv('BitcoinPrice.csv')
#Store the data into the variable df
df = pd.read_csv('BitcoinPrice.csv')
df.head(7)

           Date    Price
0  Jul 31, 2017  2763.24
1  Jul 30, 2017  2724.39
2  Jul 29, 2017  2807.02
3  Jul 28, 2017  2679.73
4  Jul 27, 2017  2538.71
5  Jul 26, 2017  2577.77
6  Jul 25, 2017  2757.50

In [64]:
#Remove the Date column
df.drop(['Date'], 1, inplace=True)

In [65]:
#Show the first 7 rows of the new data set
df.head(7)

     Price
0  2763.24
1  2724.39
2  2807.02
3  2679.73
4  2538.71
5  2577.77
6  2757.50

In [66]:

#A variable for predicting 'n' days out into the future
prediction_days = 30 #n = 30 days

#Create another column (the target or dependent variable) shifted 'n' units up
df['Prediction'] = df[['Price']].shift(-prediction_days)

In [67]:

#Show the first 7 rows of the new data set
df.head(7)

     Price  Prediction
0  2763.24     2492.60
1  2724.39     2539.24
2  2807.02     2567.56
3  2679.73     2553.03
4  2538.71     2478.45
5  2577.77     2590.57
6  2757.50     2607.25

In [68]:
#Show the last 7 rows of the new data set
df.tail(7)

       Price  Prediction
1549   98.10         NaN
1550  106.25         NaN
1551  116.38         NaN
1552  139.00         NaN
1553  144.00         NaN
1554  134.44         NaN
1555  135.30         NaN

In [69]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(df)-prediction_days]
print(X)

[[2763.24]
 [2724.39]
 [2807.02]
 ...
 [ 132.25]
 [ 129.  ]
 [ 129.77]]

In [70]:
#CREATE THE DEPENDENT DATA SET (y)

# Convert the dataframe to a numpy array (All of the values including the NaN's)
y = np.array(df['Prediction'])

# Get all of the y values except the last 'n' rows
y = y[:-prediction_days]
print(y)

[2492.6  2539.24 2567.56 ...  144.    134.44  135.3 ]

In [71]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [72]:

# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[133.5 ]
 [131.99]
 [133.1 ]
 [126.3 ]
 [123.8 ]
 [122.89]
 [122.02]
 [122.5 ]
 [123.21]
 [123.5 ]
 [118.21]
 [114.22]
 [111.4 ]
 [117.98]
 [114.82]
 [115.64]
 [117.7 ]
 [112.8 ]
 [113.2 ]
 [109.6 ]
 [112.25]
 [115.98]
 [112.9 ]
 [ 98.1 ]
 [106.25]
 [116.38]
 [139.  ]
 [144.  ]
 [134.44]
 [135.3 ]]

In [78]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine (Regression) using the radial basis function
svr_rbf = SVR(kernel='rbf',C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [74]:
# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  -0.06781569111191743

In [75]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[431.42786135 434.62894653 432.37705204 431.56042857 429.62327411
 432.91668561 432.76147933 433.16360124 428.0382829  435.12128613
 436.06208128 432.66229898 433.00682102 435.57504231 435.45616605
 432.07713074 435.56343466 430.61228309 424.84167969 427.42672286
 432.41483178 431.24756962 434.62967623 432.41825107 434.46952482
 433.43492997 434.42337177 432.44095236 438.19608453 425.016571
 424.59862073 432.55695484 429.99362663 425.63024093 434.99085344
 436.05949121 432.36352183 432.39398611 436.32149048 415.04346327
 438.14707662 424.74649938 415.59786659 431.34839681 424.86623877
 427.5581882  436.81666022 422.1586313  432.62313835 430.55386023
 436.94735769 425.70247464 426.63734365 428.10875402 429.49731553
 431.50955898 432.37705204 432.70787101 431.52865461 435.12502272
 432.37705204 432.37705204 432.37705204 435.27684338 433.69951536
 431.71897111 432.78082629 433.75895919 436.52374078 435.98586365
 433.26356791 434.39599693 435.29883413 430.59716151 433.16360124
 425.22649435 427.51133591 428.89599072 432.24542735 430.2398668
 434.87450386 432.73036536 430.84654442 433.35797537 430.86468866
 433.61183305 431.99393555 419.89555474 434.82048898 434.68375158
 431.17801461 433.17005017 429.93309361 429.16764299 431.0501761
 432.37705204 421.11645171 428.5429193  432.74295663 433.17690482
 435.16573565 435.8178199  432.0624286  434.93428309 432.37705204
 426.67178547 434.79492212 418.93538121 431.02542678 425.43302594
 437.04286438 430.25961412 432.55834263 435.14662419 432.86258894
 432.37705206 437.75503145 433.5754834  432.38972734 431.77380424
 426.42713261 432.37705204 431.3056996  434.62105453 425.01151369
 432.37705204 424.56351708 432.37705447 427.72073632 425.56037662
 432.37705204 427.47976145 430.60383398 428.67953455 428.20086022
 430.50686254 428.0165102  426.57458104 433.55772521 433.1680937
 426.9817257  425.223516   431.48993802 436.05948116 432.95053795
 430.81978949 429.74536043 429.91000399 431.16555226 432.39777562
 432.3772222  431.99820896 433.74994672 432.37705204 418.7276055
 434.9507446  436.70974376 432.06211244 435.79261514 427.84986813
 432.83726078 434.89000649 425.6016677  436.33481128 431.43763897
 425.08250009 430.94341998 434.26205731 436.05826288 432.0740097
 434.76813854 430.32059784 433.32162842 432.48441651 434.93002827
 429.06917586 429.75804997 432.74083885 433.3171393  430.17726345
 434.24403744 427.86865626 430.38954169 432.20276716 430.36894685
 433.22922527 431.60299441 432.62383863 432.37705204 435.80944463
 416.64123077 434.98595963 434.2524326  430.49600036 415.69747199
 433.34159587 433.99884331 433.49420038 434.37141462 430.30484599
 432.29332613 432.39365244 429.10094812 434.30507042 431.9431432
 434.579431   434.52865428 432.78997157 432.59732646 431.58630414
 435.67153431 430.49821789 431.82552239 432.37705204 427.48493874
 433.07472836 427.03189246 428.56175736 434.67330916 430.95729215
 434.43528713 427.43627008 436.74111967 428.450636   437.25437219
 429.66467221 432.3406234  428.89146956 433.96779746 431.84644161
 430.51056039 432.37705204 431.4453158  430.31515605 427.23789488
 427.15240198 432.37705475 431.4516813  432.74323043 424.39210657
 433.37221823 426.22955862 431.45927836 429.18543987 431.43347771
 429.24179502 433.24793864 425.93048879 432.47851444 429.02889388
 433.15463539 439.36931808 433.2207511  427.63032901 431.70404987
 433.79304993 432.59194827 432.37699979 424.71557067 426.48647675
 424.72486968 434.68979733 436.09104855 427.08862132 430.15861236
 434.61659552 432.68348199 433.39127491 429.57438621 432.37705204
 430.43351904 430.27375199 432.62553028 432.67367134 432.10780193
 432.38612603 432.43076505 431.3378608  437.14603573 432.37705261
 430.10299716 432.37457947 425.20473327 427.71667357 432.5907628
 432.37705215 431.46868139 416.60130759 438.26769856 418.40322494
 426.2819794  431.38272972 429.69839891 435.9342248  434.91116348
 429.94592232 432.37705204 431.38005694 428.21708072 431.19035264
 433.99440993 430.64182949 432.92977629 430.11013822 434.62858665
 428.73246015]

[ 427.61  602.16 1277.43  203.9   230.36  610.22  701.34  835.32  101.49
  619.17  625.58 1490.72  548.66  455.82  659.28  261.86  609.25  136.53
  139.    135.3   694.22  420.55  429.57  908.17  626.35  453.69  860.29
  457.59  672.81  223.46  253.76  416.57  255.46  432.57  441.53  609.75
  456.86 1042.01  606.47  236.01  570.49  277.34  219.43  279.33  231.55
  126.74  641.04  265.48  431.66  108.2   458.43  238.98  115.64  328.3
  427.27  664.31 1317.84  774.75  740.44  654.23 1231.92 2709.43 1222.71
  586.77  408.08  135.19 1014.24  569.71  575.55  597.44  324.35  609.87
  652.92  266.5  2869.38  225.67  400.52   96.95  445.86  225.77  546.18
 1741.7   111.29  198.55  491.51  711.17  432.29  257.93 1129.37  525.72
   92.    500.09  342.15  233.42  376.02  763.28  291.52  234.36  640.87
  790.69  537.68  650.73  263.57  589.01 2953.22  379.74  414.44  210.07
  465.21  485.07  596.33  243.74  562.51  629.35 2320.89 1043.52  439.35
  585.03 2321.37  127.38  123.3   131.37  389.98  651.63  126.48 2492.6
  235.32 1723.89  388.35  294.13 2469.57  236.41  374.73  244.28  105.
  489.67  401.43  419.63  780.65  244.74  249.04  237.64  336.12  651.08
  446.89  100.44  236.64  479.58  421.87  795.99 1251.33  421.6   705.2
 1229.42  176.9   593.97  644.12  495.8   571.91  272.74 1077.58  497.83
  133.1   634.22  118.97  235.94  236.89  567.37  473.03  366.95  572.41
  232.44 1003.52  244.78  418.14  225.    233.04  736.33  657.62  139.27
  818.43  230.25   91.6   462.23  130.67  348.82  689.12  739.64 1125.81
  641.07  232.7   655.11  653.52  376.76  225.69 1579.47  641.39  740.71
  453.92  257.04  135.61  451.93  238.89  325.57  246.88  447.63  816.07
  574.6   989.07  418.42  648.48  274.61  449.69 1348.3   387.03 1054.76
  144.    118.21  614.63  363.72  581.3   234.14  615.69  428.7   606.4
  380.11  737.98  269.96  616.31  454.01  448.7  1007.65  430.25  262.75
  121.21  125.89  792.25  453.18  529.07  224.7   613.06  502.54  330.58
   95.    326.98  374.96  666.24  106.25  925.5   316.16  424.28  704.97
  413.42  112.56  775.18  607.22 1540.87  129.7   235.97  124.13  229.9
  606.04  871.39  435.13  433.07  679.81  748.76  773.39  352.2  1267.47
  502.9   237.26 2553.03  908.35  678.2   899.65  732.48  417.24  450.86
 1221.78  327.16  417.28  312.72   88.    421.17 2159.43  360.97  228.57
  573.71  267.89   95.56  222.89  249.43  607.    664.52  434.62 1321.87
  137.15  219.21  122.5   616.54  209.07 1201.02  285.18  972.53  479.62]

In [76]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[428.95837611 426.70571766 428.25255177 427.03502031 431.03842537
 429.11209767 426.30540442 427.57317116 430.16747183 430.75652239
 429.70309632 432.19804145 429.90586856 430.44327739 432.35722077
 432.37642189 431.22795573 430.29364251 430.86246352 427.01510023
 430.07475916 432.37490365 430.40630782 428.3100709  426.87045434
 432.3622405  430.49681123 432.2278659  428.90172552 427.35438603]

In [77]:

#Print the actual price for the next 'n' days, n=prediction_days=30 
df.tail(prediction_days)

       Price  Prediction
1526  133.50         NaN
1527  131.99         NaN
1528  133.10         NaN
1529  126.30         NaN
1530  123.80         NaN
1531  122.89         NaN
1532  122.02         NaN
1533  122.50         NaN
1534  123.21         NaN
1535  123.50         NaN
1536  118.21         NaN
1537  114.22         NaN
1538  111.40         NaN
1539  117.98         NaN
1540  114.82         NaN
1541  115.64         NaN
1542  117.70         NaN
1543  112.80         NaN
1544  113.20         NaN
1545  109.60         NaN
1546  112.25         NaN
1547  115.98         NaN
1548  112.90         NaN
1549   98.10         NaN
1550  106.25         NaN
1551  116.38         NaN
1552  139.00         NaN
1553  144.00         NaN
1554  134.44         NaN
1555  135.30         NaN